@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Binggrae";
  src: url("./assets/fonts/Binggrae.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BinggraeBold";
  src: url("./assets/fonts/Binggrae-Bold.otf") format("opentype");
  font-display: swap;
}
